@use '../../../../variables';

.registerForm {
  $self: &;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 35%;
  height: 100%;
  padding: 50px;
  background-color: #1F1F1F;
  &__title {
    text-align: center;
    font-size: variables.$big-title;
    font-weight: 700;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__inputWrapper {
    position: relative;
    margin-bottom: 20px;
    #{ $self }__input {
      height: 45px;
      padding: 0px 10px;
      border: none;
      background-color: transparent;
          border-bottom: 1px solid #FFF;
      color: #FFF;
      width: 100%;
      &:focus {
        outline: none;
        & + #{ $self }__label {
          top: -20px;
        }
      }
    }
    #{ $self }__label {
      position: absolute;
      top: 10px;
      left: 10px;
      transition: ease-in-out 0.3s;
      &#{ $self }__labelMoved {
        top: -20px;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  &__error {
    font-size: 14px;
    color: #FF5555;
    margin-top: 5px;
    display: none;
    border: none;
  }
  &__ads {
    margin: 0;
    margin-bottom: 0;
  }
}

.registerForm__inputWrapper.has-error .registerForm__error {
  display: block;
}

.error-divider {
  height: 5px;
  border: none;
}

@media screen and (max-width: 768px) {
  .registerForm {
    width: 60%;
  }
}


@media screen and (max-width: 425px) {
  .registerForm {
    width: 100%;
  }  
}


@media screen and (max-width: 320px) {
  .registerForm {
    &__links {
      flex-direction: column;
    }
  }  
}