.headerSection {
  background-color: #1F1F1F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  height: 35px;
}

.menuWrapper {
  display: flex;
  max-width: 50%;
  gap: 30px;
  .menuItem {
    font-size: 0.9em;
    transition: ease-in-out 0.2s;
    &:hover {
      cursor: pointer;
      color: #D3485D;
      transition: ease-in-out 0.2s;
    }
  }  
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
}

.socialsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  .socials {
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: ease-in-out 0.2s;
    }
  }
}
