.authTemp {
  &__wrapper {
    height: auto;
    display: flex;
    flex-direction: row;
    &div {
      height: 100%;
    }
  }
  &__img {
    background-image: url('../../../assets/bg.png');
    background-size: cover;
    background-position: center;
    flex: 1;
  }
}

@media screen and (max-width: 425px) {
  .authTemp {
    &__img {
      display: none;
    }
  }  
}