.footerSection {
    background-color: red;
    height: 67vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7vh;
    color: white;
}

.footerContent {
    padding: 10vh;
}

.footerContent h1 {
    font-size: 70px;
    font-weight: 200;
}

.logo {
    position: absolute;
    margin-top: 43vh;
    width: 23vh;
  }