.button {
  padding: 10px 20px;
  transition: ease-in-out 0.4s;
  &.fullWidth {
    width: 100%;
  }
  &.primary{
    background-color: #D3485D;
    color: white;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #9E3A4B;
      transition: ease-in-out 0.4s;
    }
  }
  &.secondary{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: #9E3A4B;
      font-weight: 700;
      transition: ease-in-out 0.4s;
    }
  }
  &.tertiary{
    background-color: white;
    color: #9E3A4B;
    border-radius: 100px;
    &:hover {
      cursor: pointer;
    }
  }
}