.CarouselSection {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CarouselSection h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 5vh;
}

.navContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}