@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

:root {
  --grey: #1F1F1F;
  --blue: #05106A;
  --red: #D3485D;
}